* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container-t {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-area {
    width: 35%;
    height: 100%;
}

.register-tip {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    text-align: center !important;
}

.copyright-tip {
    width: 100%;
    text-align: center !important;
}

.mt-5 {
    margin-top: 5%;
}

.mt-2 {
    margin-top: 2%;
}

.info-area {
    width: 65%;
    height: 100%;
    background: url("../pic/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: backgroundWalkY;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.float-right {
    float: right;
}

@keyframes backgroundWalkY {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}